@{
    ViewBag.Title = "ResetPasswordConfirmation";
    Layout = null;
}

@model SistemaUcre.Models.ResetPasswordConfirmModel
<link href="~/Content/Bootstrap/css/bootstrap.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)



    <div style="margin: 10% auto; width: 30%; height: 70%;  ">

        <img class="img-responsive" src="~/Images/ISM Logo.png">
        <br />
        <fieldset>
            @*<legend>ResetPasswordConfirmModel</legend>*@


            @Html.Hidden("Token", Model.Token)

            <div class="editor-label">
                <h4 style="color:rgb(52, 113, 76);"> Nueva Contraseña</h4>
                @*@Html.LabelFor(model => model.NewPassword)*@
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "Nueva Contraseña" })
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>

            <div class="editor-label">
                @*@Html.LabelFor(model => model.ConfirmPassword)*@
                <h4 style="color:rgb(52, 113, 76);"> Confirmar Contraseña</h4>
            </div>
            <div class="editor-field">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Nueva Contraseña" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <br />

            <p>
                <input type="submit" value="Reset Password" class="btn-success btn-sm " />
            </p>
        </fieldset>
    </div>
}

@section scripts
{
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

}